.workspace {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.workspace > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.MuiDrawer-root.workspace-drawer, .MuiDrawer-root.workspace-drawer > .MuiPaper-root {
  width: 240;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.1)
}


