.MuiDialog-root.login-dialog > .MuiDialog-container > .MuiPaper-root {
  max-width: 100%;
  min-width: 500px;
  height: 500px;
  flex-direction: row;
}

.MuiDialog-root.login-dialog > .MuiDialog-container > .MuiPaper-root .splash {
  width: 400px;
  height: 100%;
  background-image: linear-gradient(160deg, var(--lt-yellow), transparent),
                    radial-gradient(ellipse 150% 150% at 0% 100%, var(--primary), transparent),
                    radial-gradient(ellipse 150% 150% at 100% 100%, var(--red), transparent)
}

.MuiDialog-root.login-dialog > .MuiDialog-container > .MuiPaper-root .content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MuiDialog-root.login-dialog .MuiPaper-root .MuiDialogContent-root.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.MuiDialog-root.login-dialog .MuiPaper-root .MuiDialogContent-root.grid-wrapper .grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5em;
}

.MuiDialog-root.login-dialog .MuiPaper-root .MuiButton-root.launch-button {
  background-color: var(--primary);
  color: white;
  margin: 12px 24px 24px;
}

.MuiDialog-root.login-dialog .MuiPaper-root .MuiButton-root.launch-button.Mui-disabled {
  background-color: var(--lt-grey);
  color: var(--grey);
}

.auth-error {
  font-size: 1.1rem;
  color: var(--red);
}

.MuiCard-root.errors {
  padding: 1em;
  color: white;
  background-color: var(--red);
  border-radius: 4px;
  margin: 12px 24px;
  transition: all 500ms var(--ease-out);
  overflow: hidden;
  box-sizing: content-box;
}

.errors .auth-error {
  color: white;
}

.errors.enter {
  margin: 0 24px;
  padding: 0 1em;
}

.errors.enter-active, .errors.exit {
  margin: 12px 24px;
  padding: 1em;
}

.errors.exit-active {
  margin: 0 24px;
  padding: 0 1em;
}
